.main-header {
    z-index: 1;
}

.package-background {
    background: url("https://images.pexels.com/photos/2881229/pexels-photo-2881229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.packages {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    z-index: 0;
}

.package {
    width: 55%;
    margin: 16px 0;
    border: solid 4px #0e4f1f;
    border-left: none;
    position: relative;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #FD4D00;
    color: white;
}

.package a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}

.package a > h1 {

}

.package a > h2 {

}

.package a > p {
    display: inline-block;
    padding: 16px;
    border-radius: 15px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 22px;
    color: #ff1b68;
    background: white;
}

.package:hover,
.package:active,
.package:focus {
    border: solid 4px #FD4D00;
    border-left: none;
    box-shadow: 12px 12px 20px 4px rgba(115, 115, 115, .3);
}

.package a > p:hover,
.package a > p:active,
.package a > p:focus {
    background: #ff1b68;
    color: white;
}

.clearfix {
    clear: both;
}

#plus-plan {
    background: rgba(213, 255, 220, 0.95);
}

#free-plan {
    float: right;
    background: rgba(234, 252, 237, 0.95);
    border-left: solid 4px #0e4f1f;
    border-right: none;
    text-align: right;
}

#free-plan:hover,
#free-plan:active,
#free-plan:focus {
    border-left: solid 4px #FD4D00;
}

#premium-plan {
    background: rgba(14, 79, 31, 0.95);
}

#premium-plan a > h1 {
    color: white;
}

#premium-plan a > h2 {
    color: #bbbbbb;
}

/*If you use the overflow properties to hidden then the child element inside the block will be not visible if its position is out of the area of the parents*/
/*The relative position will set the position of the element relative to the parent element*/
/*The absolute position will set the position of the element relative to the view port or the root*/
/*There is one problem with the overflow: hidden
if you place it inside the body tag, it will not work, but if you also place it to the html tag it will work
The best way to fix this one is using the class and the children will be relative to the tag not the body or the system tag*/
/*Sticky positioning is the same as the fixed, but it will let the element flow when it need to be while the fixed element will keep the element static at all time*/
/*The sticky element will stop being fixed if we reach the end of its parent element
The sticky element will behave relative to the view port*/





