/*
In-line style has the highest right to style the html
If two elements have the same name, then who come after will overwrite the one that come first
This will overwrite anything which was defined in the first one, but it also add new definitions if the first one does not have
This is something like updating

The order or the specificity or the css rules
In-line selector > id selector > .class, :pseudo-class and attribute selector > tag selector
If you want to have a default style for every single element in the html file, then add those properties inside the parent tag
Something like the <body> tag
If you have some element inside and you want to force it to inherit from the parents then use the keyword inherit

There are four type of combinator

+ Adjacent Sibling

h1 + p {
  color: red;
}

if we have a div like this, then if there is a pair of h1+p go together
then the p tag will have the css applied into it
<div>
<h2>Not Applied</h2>
<p>CSS applied</p
</div>

+ General Sibling

h1 ~ p {
  color: red;
}

if we have a div like this, then if there is a h2 tag before the target tag, then there will be
a css style applied into the target tag
<div>
<h2>Not Applied</h2>
<p>CSS applied</p
<h2>Not Applied</h2>
<h3>Not Applied</h3>
<p>CSS Applied</p>
</div>

+ Child

div > p {
  color: red;
}

If the p tag is the direct child of the div element, then it will have the css applied into it
<div>
  <div>Not Applied</div>
  <p>CSS applied</p>
  <div>Not Applied</div>
  <article>
    <p>Not Applied because not a direct child</p>
  </article>
</div>

+ Descendant

div p {
  color: red;
}

If the p tag is the direct or non-direct child of the div element, then it will have the css applied into it
<div>
  <div>Not Applied</div>
  <p>CSS applied</p>
  <div>Not Applied</div>
  <article>
    <p>CSS applied</p>
  </article>
</div>

margin top right bottom left
margin top-bottom left-right
margin all

height and width properties will set the element height and width based on the value of  their parents
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

#product-overview {
  background: aquamarine;
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: green;
}

#product-overview h1 {
  color: white;
  font-family: "Arial";
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-nav {

}

.main-nav__item {

}















